/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
    text-align: center;
    line-height: 1.6; 
    max-width: 100%;
}

/* Header Styles */
header {
    background-color: #222;
    padding: 10px;
}

h1, h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: 'Cinzel Decorative', serif;
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin-top: 10px;
}

/* Poster Section */
.posters {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.posters img {
    width: 100%;
    height: auto;
    max-width: 340px;
    border-radius: 10px;
    object-fit: cover;
}

/* Footer Styles */
footer {
    background-color: #222;
    padding: 24px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.links {
    display: flex;
    justify-content: center;
    gap: 42px; /* Space between the links */
    margin-top: 10px;
}

.links a {
    font-size: 18px;
    color: #fff; /* White text color */
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px; /* Gap between the icon and text */
    transition: color 0.3s ease, transform 0.2s ease;
}

.links a:hover {
    color: #4CAF50; /* Green color on hover */
    transform: scale(1.05); /* Slightly enlarge the text and icon */
}

.links a:focus {
    outline: 2px solid #4CAF50; /* Green outline when focused */
}

/* FontAwesome icon styles */
.links i {
    font-size: 22px; /* Icon size */
    transition: color 0.3s ease;
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Modal content (image) styling */
.modal-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block; /* Ensure image is treated as block element */
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.poster img {
    cursor: pointer;
}
